body{
    margin: 0;
}
h1{
    color: blue;
    text-align: center;
    font-style: italic;
    text-decoration: none;
}
#first-para{
    color: brown;
    text-align: justify;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid greenyellow;
    border-radius: 20px;
    padding: 16px 20px 24px 28px;
}
#second-para{
    border-top-style: solid;
    border-right-style: dashed;
    border-left-style: dotted;
    border-bottom-style: double;
    border-width: 4px;
    border-color: blueviolet;
    margin:15px 24px ;
}
#orderedlists{
    list-style-type: lower-greek;
}
#unorderedlists{
    list-style-type:square;
}
#topbar{
    background-color: aquamarine;
    padding: 24px;
}
.menu-item{
    font-size: 30px;
    margin-right: 20px;
    color:black;
    text-decoration: none;
}
.menu-item:link{
    color: blue;

}
.menu-item:visited{
    color: green;
}
.menu-item:hover{
    color: chocolate;
}
.menu-item:active{
    color:yellow;
}
#btn-login{
    background-color: aquamarine;
    padding: 8px 16px;
    border:none;
    border-radius: 8px;
    outline:none;
    cursor: pointer;
}
#btn-login:hover{
    background-color: darkblue ;
    color:whitesmoke;
}
#btn-signup{
    background-color: whitesmoke;
    border: 2px solid blue;
    border-radius: 8px;
    outline:none;
    padding:8px;
    cursor:pointer;
}
#btn-signup:hover{
    background-color: darkgreen ;
    color:whitesmoke;

}
#btn-disabled{
    background-color: aquamarine;
    padding: 8px 16px;
    border: none;
    outline:none;
    cursor: not-allowed;
    opacity: 0.6;
    border-radius: 10px;
}
button{
    color:lightgreen;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    outline: none;
}
#facebook{
    background-color: darkblue;
}
#google{
    background-color: orangered;
}
#github{
    background-color: black;
}
.icons{
    padding-left: 12px;
}
#span1{
    background-color: bisque;
    height:100px;
    width:100px;
}
#span2{
    background-color: rgb(83, 156, 40);
    height:100px;
    width:100px;
    display: inline-block;
}